@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 240 8% 5%;
    --foreground: 0 0% 91%;
    --card: 240 6% 8%;
    --card-foreground: 0 0% 91%;
    --popover: 240 6% 8%;
    --popover-foreground: 0 0% 91%;
    --primary: 76 100% 60%;
    --primary-foreground: 240 8% 5%;
    --secondary: 240 7% 11%;
    --secondary-foreground: 0 0% 91%;
    --muted: 240 7% 11%;
    --muted-foreground: 240 2% 55%;
    --accent: 240 7% 11%;
    --accent-foreground: 0 0% 91%;
    --destructive: 355 100% 64%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 5% 17%;
    --input: 240 5% 17%;
    --ring: 76 100% 60%;
    --chart-1: 227 100% 68%;
    --chart-2: 145 66% 51%;
    --chart-3: 16 100% 60%;
    --chart-4: 76 100% 60%;
    --chart-5: 355 100% 64%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 8% 5%;
    --foreground: 0 0% 91%;
    --card: 240 6% 8%;
    --card-foreground: 0 0% 91%;
    --popover: 240 6% 8%;
    --popover-foreground: 0 0% 91%;
    --primary: 76 100% 60%;
    --primary-foreground: 240 8% 5%;
    --secondary: 240 7% 11%;
    --secondary-foreground: 0 0% 91%;
    --muted: 240 7% 11%;
    --muted-foreground: 240 2% 55%;
    --accent: 240 7% 11%;
    --accent-foreground: 0 0% 91%;
    --destructive: 355 100% 64%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 5% 17%;
    --input: 240 5% 17%;
    --ring: 76 100% 60%;
    --chart-1: 227 100% 68%;
    --chart-2: 145 66% 51%;
    --chart-3: 16 100% 60%;
    --chart-4: 76 100% 60%;
    --chart-5: 355 100% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
